.title {
  display: inline-block;
  width: 30%;
  margin: 20px;
  border-right: 1px solid black;
}



li {
  display: inline-block;
  list-style-type: none;
  width: 20%;
  position: relative;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1 > a:hover {
    color: red;
}

a:hover {
  color: blue;
  animation-name : sizeup;
  animation-duration : 0.5s;
  animation-fill-mode: forwards;
}

.nav {
  display: flex;
  width: 70%;
  float: right;
}

.header {
  display: flex;
  border: 5px solid black;
  align-items: center;
}

@keyframes sizeup {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}