@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.main-body {
  background-image: url(./component/Body/img/main-background.png);
  background-size: cover;
  width: 100%;
  height: 1000px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  width: 10%;
  min-width: 200px;
  margin-left: 40px;
  margin-right: 10px;
  opacity: 80%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid white;
  opacity: 80%;
  flex-grow: 1;
  margin-right: 50px;
}

.nav-body {
  width: 100%;
  display: flex;
  align-items: center;
}

.text-box {
  position: relative;
  width: 110px;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
}

.Text {
  width: 100%;
  padding-right: 25px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.find-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.find-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  opacity: 80%;
}

li {
  display: flex;
  list-style-type: none;
  width: 20%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 > a:hover {
    color: red;
}

a:hover {
  color: blue;
  animation-name : sizeup;
  animation-duration : 0.5s;
  animation-fill-mode: forwards;
}

@keyframes sizeup {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

.home-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  background-color: #5E6575;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 3px solid rgb(140, 140, 140);
  border-radius: 30px;
}

.login-box {
  text-align: center;
  width: 100%;
  height: 50px;
}

.username-box {
  margin: 30px;
}

.passwd-box {
  margin: 30px;
}
.user-icon {
  position: relative;
  left: 15px;
  top: 3px;
  width: 13px;
  height: 13px;
  opacity: 80%;
  color: white;
}

.home {
  text-align: center;
  color: white;
}

.home-body {
  font-size: 48px;
  flex-direction: column;
  margin-bottom: 30px;
}

.home-sub {
  font-size: 15px;
  opacity: 80%;
}

.highlight {
  font-weight: bold;
  display: inline;
}