.title {
  width: 30%;
  margin-right: 20px;
  border-right: 1px solid black;
  margin-left: 20px;
}

li {
  display: inline-block;
  list-style-type: none;
  width: 20%;
  height: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 > a:hover {
    color: red;
    border-radius: 5px;
    border: 1px solid red;
}

a:hover {
  color: blue;
  border-radius: 5px;
  border: 1px solid blue;
}

.nav, .title {
  display: inline-block;
}

.nav {
  float: right;
}

ul {
  display: flex;
  width: 70%;
}

.header {
  display: flex;
  align-items: center;
  border: 10px solid black;
}